#loginDiv{
	background-color: #d7dbdd;
	color: black;
	font-family: verdana;
	border-style: ridge; 
	margin-top: 0.3%;
}
input[type=email], input[type=password]{
	background-color: white;
	border: 2pt solid black;
	border-radius: 5pt;
	transition: border-radius 0.4s ease-in-out;
	outline: none;
	}
input[type=email]:focus, input[type=password]:focus{
	background-color: lightblue;
	border-radius: 15pt;
	}
input[type=submit]{
	font-family: verdana;
	background-color: black;
	color: white;
	border: 2pt solid white;
	border-radius: 5pt;
	outline: none;
}
input[type=submit]:hover{
	color: black;
	background-color: lightblue;
	border-color: black; 
}
input[type=email]:hover, input[type=password]:hover{
	background-color: lightblue;
}
@media only screen and (min-width: 768px){
	form{
		margin-top: 5%;	
		margin-left: -10%;
	}
	#loginDiv{
		height: 75vh;
	}
	input[type=email], input[type=password]{
		width: 150%;
		padding: 7%;
	}
	input[type=submit]{
		width: 120%;
		padding: 5%;
		font-size: 100%;
		margin-left: 23%;
		margin-top: 4%;
	}
	form h2{
		margin-left: 6%;
	}
}
@media only screen and (max-width: 768px) and (orientation: portrait){
	form{
		margin-top: 30%;
		margin-left: -5%;
	}
	form h2{
		margin-left: 5%;
	}
	input[type=submit]{
		width: 100%;
		padding: 3%;
		font-size: 100%;
		margin-top: 4%;
		margin-left: 4%;
	}
	input[type=email], input[type=password]{
		width: 100%;
		padding: 3%;
	}
	#loginDiv{
		height: 78vh;
	}
}
@media only screen and (max-width: 768px) and (orientation: landscape){
	form{
		margin-top: -3%;
	}
	#loginDiv{
		height: 60vh;
	}
	input[type=email], input[type=password]{
		width: 100%;
		padding: 3%;
	}
	input[type=submit]{
		width: 100%;
		padding: 3%;
		font-size: 100%;
		margin-top: 4%;
		margin-left: 4%;
	}
	form h2{
		margin-left: 5%;
	}
}
@media only screen and (max-width: 600px) and (orientation: portrait){
	#loginDiv{
		height: 70vh;
	}
	form{
		margin-top: 15%;
	}
}
@media only screen and (max-width: 600px) and (orientation: landscape){
	#loginDiv{
		height: 80vh;
	}
}